/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

/* Variables */

:root {
  --primaryColor: #c72727;
  --secondaryColor: #f99500;
  --lightColor: #f3f3f3;
  --darkColor: #333;
  --maxWidth: 1100px;
}

.category {
  --heroColor: #009cff;
  --ecoColor: #f99500;
  --politColor: #a66bbe;
  --crimeColor: #c40234;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  outline: 0;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
  outline: none;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(199, 39, 39, 0.6);
}

/* Global */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background: var(--lightColor);
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Staatliches", cursive;
  margin-bottom: 15px;
  line-height: 1.3;
}

p {
  margin: 10px 0;
}

/* Global Container */

.container {
  max-width: var(--maxWidth);
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}

/* Global Categories */

.category {
  display: inline-block;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  padding: 8px 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.category-eco {
  background: var(--ecoColor);
}

.category-polit {
  background: var(--politColor);
}

.category-hero {
  background: var(--heroColor);
}

.category-crime {
  background: var(--crimeColor);
}

/* Global Buttons */

.button {
  display: inline-block;
  border: none;
  background: var(--darkColor);
  text-align: center;
  color: #fff;
  padding: 10px 35px;
  transition: 0.3s;
  cursor: pointer;
}

.button-light {
  background: var(--lightColor);
}

.button-primary {
  background: var(--primaryColor);
}

.button-secondary {
  background: var(--secondaryColor);
}

.button-block {
  display: block;
  width: 100%;
}

.button:hover {
  opacity: 0.9;
}

/* Global Card & Backgrounds */

.card {
  background: #fff;
  padding: 20px;
}

.bg-dark {
  background: var(--darkColor);
  color: #fff;
}

.bg-primary {
  background: var(--primaryColor);
  color: #fff;
}

.bg-secondary {
  background: var(--secondaryColor);
  color: #fff;
}

.bg-dark a,
.bg-primary a,
.bg-secondary a {
  color: #fff;
}

/* List */

.list li {
  padding: 10px 0;
  border-bottom: 1px dotted #555;
  width: 90%;
}

.list li:last-child {
  border: none;
}

.list li a:hover {
  color: var(--primaryColor) !important;
}
